.App {
    text-align: center;

}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    display: table;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: linear-gradient(
            rgba(20,20,20, .4),
            rgba(20,20,20, .4)),
    url(../../public/bg.jpg) no-repeat center center scroll;


}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*.UserIcon{
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
}*/

/*.Navi-Bar
{
    vertical-align:top;
    display: inline-block;
}*/

.NavigationBar {
    z-index: 2;
}

.UploadDropzone {
    border-style: dashed;
    height: 150px;
    line-height: 10;
    text-align: center;
}

.UploadComponent {
    float: right;
    padding: 6px;
    padding-right: 10px;
    z-index: 1;
    position: relative;
}
.inline {
    position: relative
}

.Intro-Message {
    position: relative;
    padding-top: 8%;
    padding-bottom: 2%;
}


input[type="text"] {
    /*display: block;*/
    margin: 0;
    /*width: 100%;*/
    height: 40px;
    font-family: sans-serif;
    font-size: 18px;
    /*appearance: none;
    box-shadow: none;
    border-radius: none;*/
}

/* enable absolute positioning */
.inner-addon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
    margin: 0;

}

.right-addon input {
    padding-right: 30px;
    width: 600px;
}

.topQuery {
    width: 200px;
}

.tagsBar {
    position: absolute;
    left: 50%;
    /*width: 100%;*/
    /*height: 100px;*/
    overflow: scroll;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 1px;
    border-color: red;
    height: 50px;
}

#RecommendedTags{
}

/*#SearchBar {*/
    /*!*width:55%;*!*/
    /*!*margin-right:2%;*!*/
    /*float: left;*/
    /*!*vertical-align: top;*!*/
/*}*/

#inline {
    display: inline-block;
    position: relative;
    margin-left: 300px;
    /*width:75%;*/
    /*display: inline-block;*/
    /*margin-right: 5px;*/
    /*width: 100%*/
}

#Sorting {
    /*vertical-align: top;*/
    display: inline-block;
    position: relative;
    margin-left: 310px;
    margin-top: 5px;

}